

/*--------------------------------------------------------
  �t��CSS�v���t�F�b�V���i���e���v���[�g���i�ݒ�
--------------------------------------------------------*/

.hpb-parts-cnt-style
{
    border-color: #A709DA;
}

.hpb-parts-hl-style
{
    padding: 0.5em 0.2em !important;
    margin: 0.5em 0px !important;
    border-color: #A709DA;
}

.hpb-parts-cbox-style
{
    border-color: #A709DA;
}

.hpb-parts-hr-style
{
    border-color: #A709DA;
}

.hpb-parts-pbox-style
{
    background-color: #f7f7f7;
    border-color: #A709DA;
}
.hpb-parts-pbox-style h4
{
    padding: 0px !important;
}
.hpb-parts-pbox-style img
{
    margin-bottom: 0px !important;
    background-color: #f7f7f7;
}

.hpb-parts-blist-style
{
    background-color: #f7f7f7;
    border-color: #A709DA;
}
a.hpb-parts-blist-style:link
{
    color: #666666;
}
a.hpb-parts-blist-style:visited
{
    color: #666666;
}
a.hpb-parts-blist-style:hover
{
    color: #43FBFF;
}
a.hpb-parts-blist-style:active
{
    color: #43FBFF;
}

/*--------------------------------------------------------
  ���[�U�[�ݒ�X�^�C��
--------------------------------------------------------*/
