

/******************************
 * float clear
 ******************************/
.hpb-clear {
    clear: both;
}

.hpb-clearfix:after {
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}
.hpb-clearfix {
    zoom: 1; /* for IE6 */
}

/******************************
 * ���C�A�E�g �R���e�i (div)
 ******************************/

/* ����Ȃ� ������ */
.hpb-parts-cnt-01 {
    margin: 0px;
    padding: 0px;
    border: none;
    width: auto;
    float: none;
    clear: both;
}

/* ����Ȃ� ��60px */
.hpb-parts-cnt-01-060 {
    margin: 0px;
    padding: 0px;
    border: none;
    width: 60px;
    float: left;
}

/* ����Ȃ� ��120px */
.hpb-parts-cnt-01-120 {
    margin: 0px;
    padding: 0px;
    border: none;
    width: 120px;
    float: left;
}

/* ����Ȃ� ��180px */
.hpb-parts-cnt-01-180 {
    margin: 0px;
    padding: 0px;
    border: none;
    width: 180px;
    float: left;
}

/* ����Ȃ� ��240px */
.hpb-parts-cnt-01-240 {
    margin: 0px;
    padding: 0px;
    border: none;
    width: 240px;
    float: left;
}

/* ����Ȃ� ��360px */
.hpb-parts-cnt-01-360 {
    margin: 0px;
    padding: 0px;
    border: none;
    width: 360px;
    float: left;
}

/* ���͂� ������ */
.hpb-parts-cnt-02 {
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    width: auto;
    float: none;
    clear: both;
}

/* ���͂� ��60px */
.hpb-parts-cnt-02-060 {
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    width: 60px;
    float: left;
}

/* ���͂� ��120px */
.hpb-parts-cnt-02-120 {
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    width: 120px;
    float: left;
}

/* ���͂� ��180px */
.hpb-parts-cnt-02-180 {
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    width: 180px;
    float: left;
}

/* ���͂� ��240px */
.hpb-parts-cnt-02-240 {
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    width: 240px;
    float: left;
}

/* ���͂� ��360px */
.hpb-parts-cnt-02-360 {
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    width: 360px;
    float: left;
}

/******************************
 * ���o�� (h1-h6)
 ******************************/

/* ����Ȃ� */
.hpb-parts-hl-01 {
    margin: 0px;
    padding: 0px 0.2em;
    border: none !important;
    line-height: 1.2em;
}

/* ���� 1 */
.hpb-parts-hl-02 {
    margin: 0px;
    padding: 0px 0.2em;
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-top-style: none !important;
    border-right-style: none !important;
    border-left-style: none !important;
    line-height: 1.2em;
}

/* ���� 2 (2�d��) */
.hpb-parts-hl-03 {
    margin: 0px;
    padding: 0px 0.2em;
    border-bottom-width: 3px !important;
    border-bottom-style: double !important;
    border-top-style: none !important;
    border-right-style: none !important;
    border-left-style: none !important;
    line-height: 1.2em;
}

/* ���͂� 1 */
.hpb-parts-hl-04 {
    margin: 0px;
    padding: 0px 0.2em;
    border-width: 1px !important;
    border-style: solid !important;
    line-height: 1.2em;
}

/* ���͂� 2 (2�d��) */
.hpb-parts-hl-05 {
    margin: 0px;
    padding: 0px 0.2em;
    border-width: 3px !important;
    border-style: double !important;
    line-height: 1.2em;
}

/* ����� 1 (�����t��) */
.hpb-parts-hl-06 {
    margin: 0px;
    padding: 0px 0px 0px 0.2em;
    border-left-width: 1.2em !important;
    border-left-style: solid !important;
    border-top-style: none !important;
    border-right-style: none !important;
    border-bottom-style: none !important;
    line-height: 1.2em;
}

/* ����� 2 (�����t��������) */
.hpb-parts-hl-07 {
    margin: 0px;
    padding: 0px 0px 0px 0.2em;
    border-left-width: 1.2em !important;
    border-left-style: solid !important;
    border-bottom-width: 2px !important;
    border-bottom-style: solid !important;
    border-top-style: none !important;
    border-right-style: none !important;
    line-height: 1.2em;
}

/* ����� 3 (�����t�������͂�) */
.hpb-parts-hl-08 {
    margin: 0px;
    padding: 0px 0px 0px 0.2em;
    border-style: solid !important;
    border-width: 2px 2px 2px 1.2em !important;
    line-height: 1.2em;
}

/******************************
 * ���͘g (div)
 ******************************/

/* �����Ȃ� */
.hpb-parts-cbox-01 {
    margin: 0px;
    padding: 5px;
    border: none;
}

/* ���͂� 1 (����) */
.hpb-parts-cbox-02 {
    margin: 0px;
    padding: 4px;
    border-width: 1px;
    border-style: solid;
}

/* ���͂� 2 (�_��) */
.hpb-parts-cbox-03 {
    margin: 0px;
    padding: 4px;
    border-width: 1px;
    border-style: dotted;
}

/* ���͂� 3 (2�d��) */
.hpb-parts-cbox-04 {
    margin: 0px;
    padding: 2px;
    border-width: 3px;
    border-style: double;
}

/******************************
 * �ʐ^/�摜 (img)
 ******************************/

/* �]���Ȃ� */
.hpb-parts-img-01 {
    margin: 0px;
    padding: 0px;
    border: none;
    float: left;
}

/* �]������ */
.hpb-parts-img-02 {
    margin: 0px;
    padding: 5px;
    border: none;
    float: left;
}

/* �ʐ^�{�b�N�X ���񂹔z�u�p */
.hpb-parts-img-03 {
    margin: 0px 5px 0px 0px !important;
    padding: 5px;
    border: none;
    float: left;
}

/* �ʐ^�{�b�N�X �E�񂹔z�u�p */
.hpb-parts-img-04 {
    margin: 0px 0px 0px 5px !important;
    padding: 5px;
    border: none;
    float: right;
}

/* �����ʐ^�{�b�N�X ���[�p */
.hpb-parts-img-05 {
    margin: 0px;
    padding: 5px;
    border: none;
    float: left;
    clear: both;
}

/* �����ʐ^�{�b�N�X 2��ڗp */
.hpb-parts-img-06 {
    margin: 0px;
    padding: 5px 5px 5px 0px;
    border: none;
    float: left;
}

/* �����ʐ^�{�b�N�X ���[�E2�s�ڗp */
.hpb-parts-img-07 {
    margin: 0px;
    padding: 0px 5px 5px 5px;
    border: none;
    float: left;
    clear: both;
}

/* �����ʐ^�{�b�N�X 2�s�ڗp */
.hpb-parts-img-08 {
    margin: 0px;
    padding: 0px 5px 5px 0px;
    border: none;
    float: left;
}

/******************************
 * ������ (hr)
 ******************************/

/* ������ 1 (�����E��) */
.hpb-parts-hr-01 {
    margin: 0.5em 0px;
    border-width: 1px 0px 0px 0px !important;
    border-top-style: solid !important;
}

/* ������ 2 (�����E��) */
.hpb-parts-hr-02 {
    margin: 0.5em 0px;
    border-width: 2px 0px 0px 0px;
    border-top-style: solid;
}

/* ������ 3 (�_���E��) */
.hpb-parts-hr-03 {
    margin: 0.5em 0px;
    border-width: 1px 0px 0px 0px;
    border-top-style: dotted;
    height: 0px;
}

/* ������ 4 (�_���E��) */
.hpb-parts-hr-04 {
    margin: 0.5em 0px;
    border-width: 2px 0px 0px 0px;
    border-top-style: dotted;
    height: 0px;
}

/* ������ 5 (�j���E��) */
.hpb-parts-hr-05 {
    margin: 0.5em 0px;
    border-width: 1px 0px 0px 0px;
    border-top-style: dashed;
}

/* ������ 6 (�j���E��) */
.hpb-parts-hr-06 {
    margin: 0.5em 0px;
    border-width: 2px 0px 0px 0px;
    border-top-style: dashed;
}

/* ������ 7 (2�d��) */
.hpb-parts-hr-07 {
    margin: 0.5em 0px;
    border-width: 3px 0px 0px 0px;
    border-top-style: double;
}

/******************************
 * �ʐ^�{�b�N�X (div)
 ******************************/

/* ����Ȃ� */
.hpb-parts-pbox-01 {
    margin: 5px;
    padding: 0px;
    border: none;
    text-align: left;
    width: auto;
    float: none;
    clear: both;
}

/* ����Ȃ� �摜��60px */
.hpb-parts-pbox-01-060 {
    margin: 5px;
    padding: 0px 0px 5px 0px;
    border: none;
    text-align: left;
    width: 70px;
    float: left;
}

/* ����Ȃ� �摜��120px */
.hpb-parts-pbox-01-120 {
    margin: 5px;
    padding: 0px 0px 5px 0px;
    border: none;
    text-align: left;
    width: 130px;
    float: left;
}

/* ����Ȃ� �摜��180px */
.hpb-parts-pbox-01-180 {
    margin: 5px;
    padding: 0px 0px 5px 0px;
    border: none;
    text-align: left;
    width: 190px;
    float: left;
}

/* ����Ȃ� �摜��240px */
.hpb-parts-pbox-01-240 {
    margin: 5px;
    padding: 0px 0px 5px 0px;
    border: none;
    text-align: left;
    width: 250px;
    float: left;
}

/* ���͂� */
.hpb-parts-pbox-02 {
    margin: 4px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    width: auto;
    float: none;
}

/* ���͂� �摜��60px */
.hpb-parts-pbox-02-060 {
    margin: 4px;
    padding: 0px 0px 5px 0px;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    width: 70px;
    float: left;
}

/* ���͂� �摜��120px */
.hpb-parts-pbox-02-120 {
    margin: 4px;
    padding: 0px 0px 5px 0px;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    width: 130px;
    float: left;
}

/* ���͂� �摜��180px */
.hpb-parts-pbox-02-180 {
    margin: 4px;
    padding: 0px 0px 5px 0px;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    width: 190px;
    float: left;
}

/* ���͂� �摜��240px */
.hpb-parts-pbox-02-240 {
    margin: 4px;
    padding: 0px 0px 5px 0px;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    width: 250px;
    float: left;
}

/* �ʐ^�{�b�N�X�p ���͗̈� */
.hpb-parts-pbox-desc {
    margin: 0px;
    padding: 5px 5px 0px 5px;
    border: none;
}

/******************************
 * �����ʐ^�{�b�N�X (div)
 ******************************/

/* ����Ȃ� �摜��60px ��2x�c1 */
.hpb-parts-mpbox-01-2060 {
    margin: 5px;
    padding: 0px 0px 5px 0px;
    border: none;
    text-align: left;
    width: 135px;
    float: left;
}

/* ����Ȃ� �摜��60px ��3x�c1 */
.hpb-parts-mpbox-01-3060 {
    margin: 5px;
    padding: 0px 0px 5px 0px;
    border: none;
    text-align: left;
    width: 200px;
    float: left;
}

/* ����Ȃ� �摜��60px ��4x�c1 */
.hpb-parts-mpbox-01-4060 {
    margin: 5px;
    padding: 0px 0px 5px 0px;
    border: none;
    text-align: left;
    width: 265px;
    float: left;
}

/* ����Ȃ� �摜��120px ��2x�c1 */
.hpb-parts-mpbox-01-2120 {
    margin: 5px;
    padding: 0px 0px 5px 0px;
    border: none;
    text-align: left;
    width: 255px;
    float: left;
}

/* ����Ȃ� �摜��120px ��3x�c1 */
.hpb-parts-mpbox-01-3120 {
    margin: 5px;
    padding: 0px 0px 5px 0px;
    border: none;
    text-align: left;
    width: 380px;
    float: left;
}

/* ����Ȃ� �摜��120px ��4x�c1 */
.hpb-parts-mpbox-01-4120 {
    margin: 5px;
    padding: 0px 0px 5px 0px;
    border: none;
    text-align: left;
    width: 505px;
    float: left;
}

/* ����Ȃ� �摜��180px ��2x�c1 */
.hpb-parts-mpbox-01-2180 {
    margin: 5px;
    padding: 0px 0px 5px 0px;
    border: none;
    text-align: left;
    width: 375px;
    float: left;
}

/* ����Ȃ� �摜��180px ��3x�c1 */
.hpb-parts-mpbox-01-3180 {
    margin: 5px;
    padding: 0px 0px 5px 0px;
    border: none;
    text-align: left;
    width: 560px;
    float: left;
}

/* ����Ȃ� �摜��180px ��4x�c1 */
.hpb-parts-mpbox-01-4180 {
    margin: 5px;
    padding: 0px 0px 5px 0px;
    border: none;
    text-align: left;
    width: 745px;
    float: left;
}

/* ����Ȃ� �摜��240px ��2x�c1 */
.hpb-parts-mpbox-01-2240 {
    margin: 5px;
    padding: 0px 0px 5px 0px;
    border: none;
    text-align: left;
    width: 495px;
    float: left;
}

/* ����Ȃ� �摜��240px ��3x�c1 */
.hpb-parts-mpbox-01-3240 {
    margin: 5px;
    padding: 0px 0px 5px 0px;
    border: none;
    text-align: left;
    width: 740px;
    float: left;
}

/* ����Ȃ� �摜��240px ��4x�c1 */
.hpb-parts-mpbox-01-4240 {
    margin: 5px;
    padding: 0px 0px 5px 0px;
    border: none;
    text-align: left;
    width: 985px;
    float: left;
}

/* ���͂� �摜��60px ��2x�c1 */
.hpb-parts-mpbox-02-2060 {
    margin: 4px;
    padding: 0px 0px 5px 0px;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    width: 135px;
    float: left;
}

/* ���͂� �摜��60px ��3x�c1 */
.hpb-parts-mpbox-02-3060 {
    margin: 4px;
    padding: 0px 0px 5px 0px;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    width: 200px;
    float: left;
}

/* ���͂� �摜��60px ��4x�c1 */
.hpb-parts-mpbox-02-4060 {
    margin: 4px;
    padding: 0px 0px 5px 0px;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    width: 265px;
    float: left;
}

/* ���͂� �摜��120px ��2x�c1 */
.hpb-parts-mpbox-02-2120 {
    margin: 4px;
    padding: 0px 0px 5px 0px;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    width: 255px;
    float: left;
}

/* ���͂� �摜��120px ��3x�c1 */
.hpb-parts-mpbox-02-3120 {
    margin: 4px;
    padding: 0px 0px 5px 0px;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    width: 380px;
    float: left;
}

/* ���͂� �摜��120px ��4x�c1 */
.hpb-parts-mpbox-02-4120 {
    margin: 4px;
    padding: 0px 0px 5px 0px;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    width: 505px;
    float: left;
}

/* ���͂� �摜��180px ��2x�c1 */
.hpb-parts-mpbox-02-2180 {
    margin: 4px;
    padding: 0px 0px 5px 0px;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    width: 375px;
    float: left;
}

/* ���͂� �摜��180px ��3x�c1 */
.hpb-parts-mpbox-02-3180 {
    margin: 4px;
    padding: 0px 0px 5px 0px;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    width: 560px;
    float: left;
}

/* ���͂� �摜��180px ��4x�c1 */
.hpb-parts-mpbox-02-4180 {
    margin: 4px;
    padding: 0px 0px 5px 0px;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    width: 745px;
    float: left;
}

/* ���͂� �摜��240px ��2x�c1 */
.hpb-parts-mpbox-02-2240 {
    margin: 4px;
    padding: 0px 0px 5px 0px;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    width: 495px;
    float: left;
}

/* ���͂� �摜��240px ��3x�c1 */
.hpb-parts-mpbox-02-3240 {
    margin: 4px;
    padding: 0px 0px 5px 0px;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    width: 740px;
    float: left;
}

/* ���͂� �摜��240px ��4x�c1 */
.hpb-parts-mpbox-02-4240 {
    margin: 4px;
    padding: 0px 0px 5px 0px;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    width: 985px;
    float: left;
}

/******************************
 * �o�i�[���X�g
 ******************************/

/* �����^ 1 */
.hpb-parts-blist-01 {
    margin: 0px;
    padding: 0px;
}
.hpb-parts-blist-01 ul {
    margin: 0px;
    padding: 5px 0px 0px 0px;
    list-style-type: none;
    text-align: center;
}
.hpb-parts-blist-01 li {
    padding: 0px 5px 5px 5px;
}
.hpb-parts-blist-01 li a {
    display: block;
    margin: 0px;
    padding: 5px;
    text-decoration: none;
    border-style: none;
}

/* �����^ 2 */
.hpb-parts-blist-02 {
    margin: 0px;
    padding: 0px;
}
.hpb-parts-blist-02 ul {
    margin: 0px;
    padding: 5px 0px 0px 0px;
    list-style-type: none;
    text-align: center;
}
.hpb-parts-blist-02 li {
    padding: 0px 5px 5px 5px;
}
.hpb-parts-blist-02 li a {
    display: block;
    margin: 0px;
    padding: 5px;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
}

/* �����^ 3 */
.hpb-parts-blist-03 {
    margin: 0px;
    padding: 0px;
}
.hpb-parts-blist-03 ul {
    margin: 0px;
    padding: 5px 0px 0px 0px;
    list-style-type: none;
    text-align: center;
}
.hpb-parts-blist-03 li {
    padding: 0px 5px 5px 5px;
}
.hpb-parts-blist-03 li a {
    display: block;
    margin: 0px auto;
    padding: 5px;
    text-decoration: none;
    border-left-width: 2em;
    border-left-style: solid;
    border-right-width: 2em;
    border-right-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

/* �摜�t�� 1 */
.hpb-parts-blist-04 {
    margin: 0px;
    padding: 0px;
}
.hpb-parts-blist-04 ul {
    margin: 0px;
    padding: 5px 0px 0px 0px;
    list-style-type: none;
    text-align: left;
}
.hpb-parts-blist-04 li {
    padding: 0px 5px 5px 5px;
}
.hpb-parts-blist-04 li a {
    display: block;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border-style: none;
    height: 30px;
}
.hpb-parts-blist-04 li a img {
    margin: 0px;
    padding: 0px 5px 0px 0px;
    border: none;
    vertical-align: middle;
}

/* �摜�t�� 2 */
.hpb-parts-blist-05 {
    margin: 0px;
    padding: 0px;
}
.hpb-parts-blist-05 ul {
    margin: 0px;
    padding: 5px 0px 0px 0px;
    list-style-type: none;
    text-align: left;
}
.hpb-parts-blist-05 li {
    padding: 0px 5px 5px 5px;
}
.hpb-parts-blist-05 li a {
    display: block;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    height: 30px;
}
.hpb-parts-blist-05 li a img {
    margin: 0px;
    padding: 0px 5px 0px 0px;
    border: none;
    vertical-align: middle;
}

/******************************
 * �f�t�H���g�X�^�C���ݒ�
 ******************************/

.hpb-parts-cnt-style {
    text-align: left;
}

.hpb-parts-hl-style {
    border-color: #cccccc;
}

.hpb-parts-cbox-style {
    text-align: left;
}

.hpb-parts-hr-style {
    clear: both;
}

.hpb-parts-pbox-style {
    border-color: #cccccc;
}
